<nav>
    <div class="site-title">
      <a href="/"><h1>All THINGS LINGUISTIC</h1></a>
      <p>A site for learning languages- Full stack - task 1</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
      <li><a href="/newword">New Word</a></li>
    </ul>
  </nav>